:root {
  --color-primary: #062630;
  --color-primary-lit: #385159;
  --color-primary-lit-2: rgba(156, 201, 218, 0.4);
  --color-secondary: #fea36f;
  --color-secondary-lit: #ffe2d1;
  --color-gray-dark: #e6e1df;
  --color-gray-dark-2: rgba(230, 225, 223, 0.4);
  --color-gray-lit: #faf5f3;
  --color-gray-lit2: #fff5ef;
  --color-white: #fff;

  // spacing
  --spacing-xxs: 0.2rem;
  --spacing-xs: 0.4rem;
  --spacing-sm: 0.6rem;
  --spacing-md: 0.8rem;
  --spacing-lg: 1.2rem;
  --spacing-xl: 1.6rem;
  --spacing-xxl: 2rem;
  --spacing-xxxl: 2.4rem;
  --spacing-3xl: 3.2rem;
  --spacing-4xl: 3.4rem;
  --spacing-5xl: 4rem;
  --spacing-6xl: 4.8rem;
  --spacing-7xl: 6.4rem;
  --spacing-8xl: 8rem;
  --spacing-9xl: 12rem;
  --spacing-10xl: 13.5rem;
}
