<div class="members">
  <img src="assets/images/image-avatars.webp" alt="" class="members__img" />
  <div class="members__count">
    <div class="members__ratings">
      <img src="assets/images/icon-star.svg" alt="" />
      <img src="assets/images/icon-star.svg" alt="" />
      <img src="assets/images/icon-star.svg" alt="" />
      <img src="assets/images/icon-star.svg" alt="" />
      <img src="assets/images/icon-star.svg" alt="" />
    </div>
    <p class="members__paragraph">200+ developers joined already</p>
  </div>
</div>
