<article class="plan plan--pro">
  <header class="plan__header">
    <h3 class="plan__title">Starter</h3>
    <div class="plan__billing">
      <h4 class="plan__price">$19</h4>
      <span class="plan__circle">/month</span>
    </div>
  </header>
  <div class="plan__body">
    <ul class="list list--tick list--plan">
      <li class="list__item">1 book/month</li>
      <li class="list__item">Online forums</li>
    </ul>
    <a href="#" class="btn btn-full btn-primary"> Subscribe now </a>
  </div>
</article>
